/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Centraliza o título da página */
header {
    margin-top: 20px;
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}

header p {
    font-size: 1.25rem;
    color: #555;
}

/* Cards de produtos */
.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.5rem;
    color: #333;
}

.card-text {
    font-size: 1rem;
    color: #777;
}

/* Estilos para o footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }

    .card {
        margin: 10px 0;
    }
}

@media (max-width: 576px) {
    header h1 {
        font-size: 2rem;
    }

    .card-title {
        font-size: 1.25rem;
    }

    .card-text {
        font-size: 0.9rem;
    }
}
